# Root
.venv
.env
__pycache__
*.pyc

# Vercel
.vercel

# Node
node_modules
.next
coverage

# Backend specific
backend/.venv
backend/.env
backend/__pycache__
backend/*.pyc

# Frontend specific
frontend/node_modules
frontend/.next
frontend/.env
frontend/.env.local
