services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    ports:
      - "8888:8000"
    volumes:
      - ../backend:/app
    environment:
      - MULTIPLE_ACTIVE_RESULT_SETS=True
      - DATABASE_URL=postgresql://user:password@db:5432/umeb
    depends_on:
      - db
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "3500:3500"
    volumes:
      - ../frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://127.0.0.1:8888
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=umeb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
